
#associations {
    background: #f5f5f5;
    border-bottom: 1px solid #e7e7e7;
}

#associations .heading {
    margin-top: 8rem;
}

#associations .service i {
    margin-top: 4rem;
}

#associations .service:hover i {
    color: #FF8402;
}



/* Venobox (popup) */

.vbox-container {
    overflow: hidden;
}

